<%- include('header') -%> 
   
  <h1><%= genero.name %></h1>
  <li>Peliculas relacionadas:
    <ul>
      <% for( let i = 0; i < genero.Peliculas.length; i++ ) { %>
        <li>
          <a href="/movies/detail/<%= genero.Peliculas[i].id %>"><%= genero.Peliculas[i].title %></a>
        </li>
      <% } %>
    </ul>
  </li>

  <%- include('footer') -%>